<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.electronicGuideCQ.dao.ScenicDistrictMapper">
 	<select id="selectForInt" resultType="java.lang.Integer">
 		select count(*) from scenic_district where 1=1
		<if test="name!=null&amp;name!=''">
			and name like'%${name}%'
		</if>
 	</select>
 	<select id="selectList" resultType="com.electronicGuideCQ.entity.ScenicDistrict">
 		select * from scenic_district where 1=1
		<if test="name!=null&amp;name!=''">
			and name like'%${name}%'
		</if>
 		 order by sort limit #{start},#{rows}
 	</select>
 	<select id="selectCBBList" resultType="com.electronicGuideCQ.entity.ScenicDistrict">
 		select id,name from scenic_district order by sort
 	</select>
 	<select id="selectById" resultType="com.electronicGuideCQ.entity.ScenicDistrict">
 		select * from scenic_district where id=#{id}
 	</select>
 	<insert id="add" parameterType="com.electronicGuideCQ.entity.ScenicDistrict">
 		insert into scenic_district
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="name!=null">
 				name,
 			</if>
 			<if test="address!=null">
 				address,
 			</if>
 			<if test="qrcodeUrl!=null">
 				qrcodeUrl,
 			</if>
 			<if test="mapUrl!=null">
 				mapUrl,
 			</if>
 			<if test="mapWidth!=null">
 				mapWidth,
 			</if>
 			<if test="mapHeight!=null">
 				mapHeight,
 			</if>
 			<if test="picWidth!=null">
 				picWidth,
 			</if>
 			<if test="picHeight!=null">
 				picHeight,
 			</if>
 			<if test="introduce!=null">
 				introduce,
 			</if>
 				createTime,
 			<if test="sort!=null">
 				sort,
 			</if>
 			<if test="serverName!=null">
 				serverName,
 			</if>
 			<if test="serverPort!=null">
 				serverPort,
 			</if>
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="name!=null">
 				#{name},
 			</if>
 			<if test="address!=null">
 				#{address},
 			</if>
 			<if test="qrcodeUrl!=null">
 				#{qrcodeUrl},
 			</if>
 			<if test="mapUrl!=null">
 				#{mapUrl},
 			</if>
 			<if test="mapWidth!=null">
 				#{mapWidth},
 			</if>
 			<if test="mapHeight!=null">
 				#{mapHeight},
 			</if>
 			<if test="picWidth!=null">
 				#{picWidth},
 			</if>
 			<if test="picHeight!=null">
 				#{picHeight},
 			</if>
 			<if test="introduce!=null">
 				#{introduce},
 			</if>
 				now(),
 			<if test="sort!=null">
 				#{sort},
 			</if>
 			<if test="serverName!=null">
 				#{serverName},
 			</if>
 			<if test="serverPort!=null">
 				#{serverPort},
 			</if>
 		</trim>
 	</insert>
 	<update id="edit">
		update scenic_district set
		<trim suffixOverrides=",">
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="address!=null">
				address=#{address},
			</if>
			<if test="qrcodeUrl!=null">
				qrcodeUrl=#{qrcodeUrl},
			</if>
			<if test="mapUrl!=null">
				mapUrl=#{mapUrl},
			</if>
			<if test="mapWidth!=null">
				mapWidth=#{mapWidth},
			</if>
			<if test="mapHeight!=null">
				mapHeight=#{mapHeight},
			</if>
			<if test="picWidth!=null">
				picWidth=#{picWidth},
			</if>
			<if test="picHeight!=null">
				picHeight=#{picHeight},
			</if>
			<if test="introduce!=null">
				introduce=#{introduce},
			</if>
				modifyTime=now(),
			<if test="sort!=null">
				sort=#{sort},
			</if>
			<if test="serverName!=null">
				serverName=#{serverName},
			</if>
			<if test="serverPort!=null">
				serverPort=#{serverPort},
			</if>
		</trim>
		where id=#{id}
	</update>
 </mapper>